@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos do Pofology */
body {
  @apply bg-gray-100 text-gray-700 dark:bg-gray-800 dark:text-gray-100;
  overflow-x: hidden;
}

.hero {
  @apply h-screen;
}

.container {
  @apply mx-auto max-w-xl px-6 md:max-w-4xl lg:max-w-7xl;
}

.btn {
  @apply inline-flex items-center justify-center rounded-full bg-primary-500 py-2.5 px-6 text-sm font-semibold tracking-wide text-white transition-colors duration-150 hover:bg-primary-600 focus:ring-2 focus:ring-primary-300;
}

.input {
  @apply w-full rounded-full px-6 py-4 shadow-lg outline-none focus:border focus:border-primary-500 focus:ring-2 focus:ring-primary-200 dark:bg-gray-700 dark:placeholder:text-gray-400;
}

.textarea {
  @apply w-full rounded-3xl border border-transparent px-6 py-4 shadow-lg outline-none focus:border-primary-500 focus:ring-2 focus:ring-primary-200 dark:bg-gray-700 dark:placeholder:text-gray-400;
}

/* Header styles */
.header {
  @apply bg-white/80 dark:bg-gray-900/80 backdrop-blur-sm border-b border-gray-200 dark:border-gray-700 fixed top-0 left-0 right-0 z-50;
}
